.pull-right{
    float:right;
}

.padding{
    padding:5px;
}

input.form-control{
    position:absolute;
}

.align-left{
    text-align: left !important;
}

.align-right{
    text-align: right !important;
}